:root {
  --colorTextPrimary: #ffffff;
  --colorTextAccent: #fbd784;
  --colorBackground: #0b1d26;
}
/* -------------------------------global styles ------------------------- */
body {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--colorTextPrimary);
  background-color: var(--colorBackground);
  background-image: url(../images/background.webp);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url(../images/background@2x.webp);
  }
}
.container {
  max-width: 1507px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ------------------header---------- */
.header {
  padding-top: 65px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 93.22%;
  padding: 0 15px;
  margin: 0 auto;
}
.logo {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.nav-link:hover,
.action-link:hover {
  opacity: 0.8;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.action-link {
  font-weight: 900;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.action-link::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/account.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* -----------------------------------main--------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 745px;
}
.hero-container {
  max-width: 980px;
}
.hero-subtitle {
  letter-spacing: 0.33em;
  text-transform: uppercase;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.hero-subtitle::before {
  content: "";
  width: 72px;
  height: 2px;
  background-color: var(--colorTextAccent);
}
.hero-title {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 88px;
  line-height: 1.13636;
  text-transform: capitalize;
  margin-bottom: 32px;
}
.hero-link {
  display: flex;
  align-items: center;
  gap: 9px;
}
.hero-link:hover {
  opacity: 0.8;
}
.hero-link::after {
  content: "";
  width: 16px;
  height: 24px;
  background-image: url(../images/arrowdown.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.travel {
  padding-bottom: 200px;
}
.travel-item {
  margin-bottom: 200px;
}
.travel-item:last-child {
  margin-bottom: 0;
}
.travel-step {
  display: flex;
  align-items: center;
  gap: 115px;
}
.travel-item:nth-child(even) .step-foto {
  order: -1;
}
.step-body {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-left: 150px;
  background-image: url(../images/1.svg);
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 50px;
}
.travel-item:nth-child(2) .step-body {
  background-image: url(../images/2.svg);
}
.travel-item:nth-child(3) .step-body {
  background-image: url(../images/3.svg);
}
.step-text {
  font-weight: 900;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--colorTextAccent);
  display: flex;
  align-items: center;
  gap: 24px;
}
.step-text::before {
  content: "";
  width: 72px;
  height: 2px;
  background-color: var(--colorTextAccent);
}
.step-title {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 64px;
}
.step-discription {
  font-weight: 900;
  line-height: 1.77778;
}
.step-link {
  font-weight: 900;
  color: var(--colorTextAccent);
  display: flex;
  align-items: center;
  gap: 10px;
}
.step-link:hover {
  opacity: 0.8;
}
.step-link::after {
  content: "";
  width: 24px;
  height: 16px;
  background-image: url(../images/arrowright.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* --------------footer----------------- */
.footer {
  padding-bottom: 120px;
}
.footer-container {
  display: flex;
  gap: 200px;
}
.footer-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-info-text {
  font-weight: 900;
  line-height: 1.77778;
  flex-grow: 1;
  max-width: 303px;
}
.footer-info-copyright {
  font-weight: 400;
  line-height: 1.77778;
  opacity: 0.5;
}
.blog-list,
.mntn-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blog-title,
.mntn-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--colorTextAccent);
  margin-bottom: 25px;
}
.blog-link,
.mntn-link {
  font-weight: 400;
  line-height: 1.77778;
}
.blog-link:hover,
.mntn-link:hover {
  opacity: 0.8;
}
