:root {
  --colorTextPrimary: #ffffff;
  --colorTextAccent: #fbd784;
  --colorBackground: #0b1d26;
}
/* -------------------------------global styles ------------------------- */
body {
  font-family: "Chivo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--colorTextPrimary);
  background-color: var(--colorBackground);
}
/* ------------------header---------- */
.logo {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.action-link {
  font-weight: 900;
  font-size: 17px;
}
/* -----------------------------------main--------------- */
.hero-subtitle {
  letter-spacing: 0.33em;
  text-transform: uppercase;
}
.hero-title {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 88px;
  line-height: 1.13636;
  text-transform: capitalize;
}
.step-text {
  font-weight: 900;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: var(--colorTextAccent);
}
.step-title {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 64px;
}
.step-discription {
  font-weight: 900;
  line-height: 1.77778;
}
.step-link {
  font-weight: 900;
  color: var(--colorTextAccent);
}
.footer-info-text {
  font-weight: 900;
  line-height: 1.77778;
}
.footer-info-copyright {
  font-weight: 400;
  line-height: 1.77778;
  opacity: 0.5;
}
.blog-title,
.mntn-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--colorTextAccent);
}
.blog-link,
.mntn-link {
  font-weight: 400;
  line-height: 1.77778;
}
